* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    display: flex;
}

.header {
    padding: 20px;
    width: 500px
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #AB2330;
    color: #FFB81C;
    font-style: italic;
}

.header h1 {
    display: flex;
    font-size: 48px;

}

.header nav {
    padding-top: 15px;
    float: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
   
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/me.jpg");
    background-size: cover;
    background-position: center;
    
}
.hero p {
    width: 450px;
    padding-top: 600px;
    padding-left: 125px;
    text-align: left;
    font-size: 20px;
    wrap
    
    
}
.float-left {
    float: left;
    margin-right: 25px;
    width: 400px;
    height: 200px;
    
    
}

.float-right {
    float: right;
    margin-left: 25px;
    width: 400px;
    height: 200px;
    
    
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Hobbies {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.Chiefs{
    margin-bottom: 32px;
    color: #ffffff;
}

.Hiking {
    margin-bottom: 32px;
    color: #ffffff;
}

.Smoking {
    margin-bottom: 32px;
    color: #ffffff;
}

.Chiefs h2, h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Hiking  h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Smoking h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Chiefs img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Hiking img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Smoking img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.AboutMe  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
    
}

.AboutMe h2, p {
    margin-bottom: 10px;
    text-align: center;
    
}
.AboutMe p {
    margin-bottom: 10px;
    text-align: justify;
}

.Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

.Work h2, p {
    margin-bottom: 10px;
    text-align: center;
}


.Contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

.Contact h2, a{
    margin-bottom: 10px;
    text-align: center;
}


.Resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
    
}

.Resume h2, p, li{
    margin-bottom: 10px;
    text-align: center;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 0px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    ;
}

.footer h2 {
    font-size: 20px;
    
}

.LinkedIn{
    margin-right: 25px;
    width: 50px;
    height: 50px;
    align-content: center;
    
    
}

.PDF{
    margin-right: 25px;
    width: 50px;
    height: 50px;
    align-content: center;
}

.polaroidone {
    height: auto;
    width: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    transform: rotate(15deg);
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px #AB2330;
}

.polaroidone img {
    padding: 15px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 345px;
}

.polaroidtwo {
    height: auto;
    width: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    transform: rotate(-15deg);
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px #AB2330;
}

.polaroidtwo img {
    padding: 15px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 345px;
}

.polaroidthree {
    height: auto;
    width: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    transform: rotate(15deg);
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px #AB2330;
}

.polaroidthree img {
    padding: 15px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 345px;
}



